.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  height: 2em;
  min-width: fit-content;
  box-shadow: 0 2px 15px #cbcbcb;
  background-color: #090d1a;
  >*{
    height: fit-content;
    width: fit-content;
    color: #F2F1EB;
  }

  .title{
    font-size: 1.2em;
    font-weight: 500;
    width: 60%;
  }

  .navbar-options{
    display: flex;
    justify-content: space-between;
    width: 15%;
    .option{
      text-decoration:none;
      color: inherit;
    }
  }
}
.active {
  color: #c9d8e7 !important;
}
