.page{
  margin: 60px;
  max-height: 100%;
}
.table-wrapper{
  height: fit-content;
  max-height: 450px;
  overflow: auto;
}
.wrapper{
  height: fit-content;
  width: 100%;
  box-shadow: 0 10px 20px 0 #c9d0e7;
}
button{
  width: 20%;
  padding: 10px;
  margin-top: 10px;
  background-color: #171E39;
  border: none;
  font-size: 0.9em;
  color: #E3EBFB;
  border-radius: 3px;
}
.disabled-button{
  color: #5b5555 !important;
  background-color: #e5e5e5 !important;
  box-shadow: none !important;
}
