<div class="page">
  <div class="product-modal">
    <div class="title">Add New Product</div>
    <form class="product-form" (ngSubmit)="onSubmit()" [formGroup]="newProductForm">
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      <div class="form-fields">
        <div>
          <label for="productName">Product Name</label>
          <input id="productName" placeholder="Eg. iPhone 13" formControlName="name" required type="text">
        </div>

        <div>
          <label for="productYear">Year</label>
          <select id="productYear" name="options" formControlName="year" required>
            <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
          </select>
        </div>

        <div>
          <label for="productPrice">Price</label>
          <input id="productPrice" placeholder="Eg. 1849.99" formControlName="price" required type="number">
        </div>

        <div>
          <label for="productDiskSize">CPU</label>
          <input id="productDiskSize" placeholder="Eg. Intel Core i9" formControlName="cpu" required type="text">
        </div>

        <div>
        <label for="hardDiskSize">Hard Disk Size</label>
        <input id="hardDiskSize" placeholder="Eg. 1 TB" formControlName="hardDiskSize" required type="text">
      </div>
      </div>
      <button class="submit-button" [ngClass]="{'disabled-button': newProductForm.invalid
      }" [disabled]="newProductForm.invalid" type="submit">Submit</button>
    </form>
  </div>
</div>
