.page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  height: fit-content;
  padding: 80px 50px 20px 50px;
  box-sizing: border-box;
  min-width: fit-content;
  min-height: fit-content;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 #c9d0e7;
  >*{
    height: fit-content;
    width: fit-content;
  }

  .title{
    font-size: 2.5em;
    font-weight: 500;
    color: #171E39;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    min-height: fit-content;
    >*{
      margin-bottom: 35px;
      width: 100%;
    }
    .login-button{
      width: 100%;
      padding: 10px;
      background-color: #171E39;
      border: none;
      font-size: 0.9em;
      color: #E3EBFB;
      border-radius: 3px;
    }
  }
}

input{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  color: #171E39;
  font-size: 0.8em;
}

input:focus{
  border: 1px solid #2B78AE;
  outline: none !important;
}

.err{
  color: #ff7b7b;
  font-size: 0.7em;
  margin-top: 10px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

.disabled-button{
  color: #5b5555 !important;
  background-color: #e5e5e5 !important;
  box-shadow: none !important;
}
