@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body, html {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: calc(0.6vw + 1.2vh);
  background-color: #E5EAF9;
}

h1{
  color: #171E39;
}

button{
  background-color: #171E39;
  border: none;
  font-size: 0.9em;
  color: #E3EBFB;
  border-radius: 3px;
}

input, select{
  background-color: transparent;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  color: #171E39;
  font-size: 0.8em;
  box-sizing: border-box;
}

label{
  font-size: 0.8em;
  color: #0F1730;
}

.disabled-button{
  color: #5b5555 !important;
  background-color: #e5e5e5 !important;
  box-shadow: none !important;
}

.modal{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 10px 20px 0 #c9d0e7;
  .title{
    font-weight: 500;
    color: #0F1730;
  }
}

input:focus{
  border: 1px solid #2B78AE;
  outline: none !important;
}

.err{
  color: #ff7b7b;
  font-size: 0.7em;
  margin-top: 10px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

::-webkit-scrollbar {
  width: 10px;
  background: #f1f1f1;
}
